html, body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

.jumbotron{
  margin:0px;
  height:560px;
 padding:50px; background:url(https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg)center center no-repeat;
  background-size:cover;
  color:white;
  
}
.jumbotron .header{
  height:100px;
}

.jumbotron img{
  width:100px;
}


.jumbotron li{

  margin-left:30px;
  display:inline-block;
  margin-top:20px;
  list-style:none;
}
.jumbotron a{
  color:white;
  font-weight:700;
  text-decoration:none;
}
.jumbotron .button{
  background-color:#FF003D;
  padding: 10px 30px;
  
}
.jumbotron .button:hover{
  color:black;
}

.jumbotron .main{
  padding: 50px 0;
}

.supporting-1 {
  color:white;
  background-color:#161718;
 padding:100px 150px;
}
.supporting-2{
  color:white;
  background-color:black;
  padding:100px 150px;
}
.supporting-3{
  color:white;
   background-color:#161718;
   padding:100px 150px;
}

img{
  width:400px;
}

.supporting-4{
  
  height:400px;
 color:white; background:url(https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg) center center no-repeat;
  background-size:cover;
  text-align:center;
  padding: 150px 0;
}

.supporting-4 img{
  width:120px;
}


.footer{
  background-color:black;
  height:200px;
  color:white;
  padding:50px 30px 30px 100px;
}
.footer ul{
  list-style:none;
  padding:0;
}
.footer a{
  color:white;
}