html, body{
	padding: 0px;
	margin:0px;
}
body{
/*	text-align: center;*/
	padding: 120px;
}
.main{
	text-align: center; 
	padding-top: 100px;
}
.main p{
	padding-bottom: 10px;
	font-size: 20px;
}
.main .choose{
	margin:20px;
}
.main select{
	margin:20px;
}

span{
	margin-top:30px;
	width:100px;
	border: 2px black solid;
	padding:5px;
}

.myClass{
	width:45px;
	height:45px;
	padding: 5px;
	border:3px solid white;
    border-radius:5px;
    display: inline-block;

}

/*selecting will show the css when the element is been clicking*/
.ui-selecting{
/*background-color: red !important;*/
}
/*selected will show the css when the element finished clicking*/
.ui-selected{

	border:3px black solid;

}

.selected{
	border:3px black solid;
}