html body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
.header{
	background-color: grey;
	padding: 10px 0;
}
.header h1{
	color: white;
	display: inline-block;
	font-size: 40px;
	font-weight: 600px;
	margin: 20px;
}
.header img{
	border: 3px white solid;
	height:80px;
}
.header ul{
	padding-top: 25px;
}
.header li{
	margin: 0;
	background-color: white;
	display: inline-block;
	padding: 10px 20px;
}
.header .active{
	background-color: #967381;
}
.header a{
	font-size: 16px;
	color: black;
	text-decoration: none;
}
.header li:hover{
	background-color: #967381;
}

.education {
	background-color: white;

}






.footer{
	height: 100px;
	background-color: black;
}