@import "../../bourbon/bourbon";
@import "../../helpers/animations/Audio_Player_Animations"; 
@mixin track_css(){
	@include appearance(none);
	width:300px;
	height: 7px;
	padding:2px;
	cursor: pointer;
	box-shadow: 1px 1px 1px white;
	border: 1px solid white;
	border-radius:2px;
	background-color:white;
	margin:10px;
}
@mixin volume_css(){
    @include appearance(none);
	display: inline-block;
    vertical-align: middle;
    padding:2px;
    height:4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px white;
	border: 1px solid white;
	border-radius:2px;
	background-color: white;
}
@mixin track_thumb_css{
	@include appearance(none);
	 height:20px;
	 width:20px;
	border-radius:20px;
	background-color: black;
	padding:0px;
}
@mixin volume_thumb_css{
	@include appearance(none);
	 height:20px;
	 width:20px;
	border-radius:20px;
	background-color: black;
	padding:0px;
}
body,html{
	width:100%;
	height:100%;
    font-family: 'Lobster', cursive;
    @include animation(changeColor 10s infinite linear);
/*     @include   background(linear-gradient(to right,rgba(51, 51, 51,0.5),white,rgba(51, 51, 51,0.5)));  */
}
h1{
	font-size:25px;
	letter-spacing: 2px;
	margin:10px;
	@include animation(changeColor2 10s infinite linear);
}

.container{
	height: 100%;
    width: 100%;
    display: table;
}
.wrap{
	text-align: center;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.player{
	display: inline-block;
}
img.cover{
	opacity: 0.8;
	width:250px;
	height:250px;
	border: 4px solid white;
	border-radius:250px;
    position: relative;
}
span#song_name{
    color:white;
	background-color: rgba(102,205,170,0.5);
	position: absolute;
	font-size: 20px;
	width:250px;
	height:250px;
	border-radius:250px;
	border: 4px solid white;
	left:50%;
	@include transform(translateX(-50%));
	line-height: 250px;
	display: none;
	pointer-events:none;

}
span#list_icon,span#list{
    position: absolute; 
	padding: 10px;
	margin: 10px;
    cursor:pointer;
    color:white;
    border:2px solid white;
    border-radius:10px;
    display: inline-block; 
}
span#list{
	margin-left:90px;
	text-align: left;
	display: none; 
}
span#list li{
	margin:3px;
}
span#list li:hover{
	color:#FFA07A;
}

span#begin_time, span#left_time{
	display: inline-block;
	padding: 3px;
	margin:3px;
	width:45px;
	color:white;
	
}

/* can't use @extend right now, becaue @extend will be a, b,c {}, 
which will not implemented in this situation.
 mixin will be a{}, b{},c {} */
input#track{
	@include track_css();
}

input#track::-moz-range-track{
	@include track_css();
}
input#track::-ms-track{
	@include track_css();
}

img#mute{
	@include appearance(none);
	display: inline-block;
    vertical-align: middle;
    border: 2px solid white;
    border-radius:8px;
	width:20px;
	height: 20px;
	padding: 2px;
}
img#mute:hover{
	border: 2px solid black;
}
input#volume{
	@include volume_css();
}
input#volume::-moz-range-track{
	@include volume_css();
}
input#volume::-ms-track{
	@include volume_css();

}
input#track::-webkit-slider-thumb{
	@include track_thumb_css();
}
input#track::-moz-range-thumb{
	@include track_thumb_css();
}
input#track::-ms-thumb{
	@include track_thumb_css();
}
input#volume::-webkit-slider-thumb{
	@include volume_thumb_css();
} 
input#volume::-moz-range-thumb{
	@include volume_thumb_css();
}
input#volume::-ms-thumb{
	@include volume_thumb_css();
}
span.button{
    display: inline-block;
	width:50px;
	padding: 10px;
	margin: 10px;
    cursor:pointer;
    color:white;
    @include animation(changeColor 10s infinite linear);
    border:2px solid white;
    border-radius:3px;

}
span.button:hover{
	box-shadow:2px 2px 2px #000000;
}