@include keyframes(changeColor){
	0% {background-color:#ADD8E6;}
	25% {background-color:#66CDAA;}
	75%{background-color: #98FB98;}
	100%{background-color:#ADD8E6 }
}
@include keyframes(changeColor2){
	0% {color:white;}
	50% {color:#FFA07A;}
	100%{color:white}
}